body {

}

header {
    text-align: center;
}
section {
    display: flex;
    justify-content: center;
    gap: 20px
}

footer {
    text-align: center;
    position:fixed;
    bottom:0;
}
.toolbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 400px;
    border: solid black 2px;
}
.canvas {
    height: 700px;
    width: 700px;
    border: solid black 2px;
}

